@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body {
    margin: 0;
    padding: 0;
  }

.title-tag{
    text-align: center;
    font-family: Comfortaa;
    

}

.player-tag{
    font-family: Comfortaa;
    text-align: center;
}

.root-tag{
    align-self: center;
}

.tablero-contenedor{
    background: black;
    display: flex;
    flex-direction: column;
    margin: 2% auto;
   
    height: 30rem;
    width: 30rem;
}

.fila-contenedor{
    display: flex;
    flex-direction: row;

}

.btn{
    font-family: Comfortaa;
}

.columna-contenedor :hover{
    cursor: pointer;
}

.columna-contenedor img{
    height: 10rem;
    width: 10rem;

}


.winner-tag{
    font-family: Comfortaa;
    text-align: center;
}